<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CancerDB</title>
    <%- include("partials/head") -%>
</head>
    <body>
        <%- include("partials/navigation") %>
        <div class="container-fluid p-5">
            <div class="row">
                <% images.forEach(function (image) { %>
                <div class="card m-card  col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <a href="/image/<%= image._id %>">
                        <img src="<%= image.path %>" class="card-img-top border-25 soft-shadow" alt="<%= image.filename %>">
                    </a>
                    <div onclick="location.href='/image/<%= image._id %>';" class="mt-2" style="cursor:pointer">
                        <p class="image-title mb-0"><%= image.title %></p>
                        <a class="image-copyright" href="<%= image.copyright_link %>"><%= image.copyright_name %></a>
                    </div>
                </div>
                <% }) %>
            </div>
        </div>
    </body>
</html>