sg<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CancerDB Profle</title>
    <%- include("partials/head") -%>
</head>

<body>
    <%- include("partials/navigation") %>
    <div class="container p-4">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card m-card ">
                    <a href="/image/<%= image._id %>">
                        <img src="<%= image.path %>" class="card-img-top border-25 soft-shadow" alt="<%= image.filename %>">
                    </a>
                    <div onclick="location.href='/image/<%= image._id %>';" class="mt-2" style="cursor:pointer">
                        <p class="image-title mb-0"><%= image.title %></p>
                        <p class="card-text"><%= image.description %></p>
                        <a class="image-copyright" href="<%= image.copyright_link %>"><%= image.copyright_name %></a>
                        <hr class="hr" />
                        <a href="/find/<%= find %>" class="btn btn-primary">Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>